# CONFIGURACION DE CORREO ELECTRONICO
EMAIL=''
EMAIL_PASS=''
EMAIL_KEY=''


#CONFIGURACION DE SERVIDOR
BASE_URL='http://localhost:3000/api'
BASE_URL_STATIC='http://localhost:3000/api'
URL_INVOICE=''
SECRET_KEY=''
PORT='3000'
NODE_ENV='dev'
CADUCIDAD_TOKEN='24h'


#CONGIGURACION API ZONAPAGOS
ZONAPAGOS_USER=''
ZONAPAGOS_PASS=''
ZONAPAGOS_URL='https://www.zonapagos.com/Apis_CicloPago/api'
ZONAPAGOS_ID='30748'


ZONAPAGOS_CAJA_IDCOMERCIO='31278'
ZONAPAGOS_CAJA_PASS='123'
ZONAPAGOS_CAJA_IDBANCO='13'


#CONFIGURACION ZONDA
TIEMPO_VERIFICACION_MIN='10'


#CONFIGURACION BASE DE DATOS SIGEDIN MYSQL
MYSQL_SGD_HOST=''
MYSQL_SGD_USER=''
MYSQL_SGD_PASS=''
MYSQL_SGD_DATABASE=''


#CONFIGURACION BASE DE DATOS SEGURIDAD MYSQL
MYSQL_AUTH_HOST=''
MYSQL_AUTH_USER=''
MYSQL_AUTH_PASS=''
MYSQL_AUTH_DATABASE=''


#CONFIGURACION BASE DE DATOS SYSAPOLO DEV
MSSQL_DEV_USER=''
MSSQL_DEV_PASS=''
MSSQL_DEV_DATABASE=''
MSSQL_DEV_SERVER=''


#CONFIGURACION BASE DE DATOS MONGO DEV
MONGO_HOST=''
MONGO_USER='mongo_itp'
MONGO_PASS=''
MONGO_DB_NAME='auth'
MONGO_DB_PORT='27017'


# GOOGLE AUTH
GOOGLE_ID=''
GOOGLE_SECRET=''

#APP MOVIL
GOOGLE_CLIENT_MOVIL_ID=''
