<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        @page {
            margin: 0cm 0cm;
        }

        .color-title {
            color: #002775;
        }

        .bold {
            font-weight: bold;
        }

        body {
            margin-top: 0.5cm;
            margin-left: 1cm;
            margin-right: 1cm;
            margin-bottom: .5cm;
            font-family: 'Helvetica';
        }

        .w-100 {
            width: 100%
        }

        .text-base {
            font-size: 12px;
        }

        .table-border td {
            border: 1px solid #000000;
        }

        .text-center {
            text-align: center;
        }

        header {
            position: fixed;
            top: 0cm;
            left: 0cm;
            right: 0cm;
            height: 2cm;

            /* Estilos extra personales */
        }

        footer {
            position: fixed;
            bottom: 1cm;
            left: 0cm;
            right: 0cm;
            height: 1.5cm;
            /* Estilos extra personales */
            /*background-color: #03a9f4;
            color: white;

            line-height: 1.5cm;*/
        }

        /footer .page-number:after {
            content: counter(page);
        }

        /
    </style>
    </style>
    <title>Document</title>


</head>

<body>
    <div class="">

        <table>
            <tr>
                <td><img src="{{BASE_URL}}/static/img/LogoITP2.svg" style="height: 90px;" class="img img-fluid" alt="">
                </td>
                <td><strong style="font-size: 10px;" >INSTITUTO TECNOLOGICO DEL PUTUMAYO</strong></td>
                <td>
                    
                </td>
            </tr>
        </table>


        <div class="row">
            <div class="col-md-6">

                <h1>Hola mundo</h1>
                but

                <div id="codigo">
                    {{{codigo}}}
                </div>

                <button type="button" class="btn btn-secondary">Secondary</button>
            </div>
        </div>





    </div>

</body>
<script>


</script>

</html>