<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">   
    <title>Token vencido</title>
</head>

<body class="bg-light">


    <div class="container">
        <br><br>

            <div class="row">
                <div class="col-md-4 offset-md-4 offset-lg-4">

                    
                <div class="card">
                <div class="card-body">
                     <img style="height:50px;" src="https://sibcolombia.net/wp-content/uploads/2017/08/logo-itp.png" class="img-fluid mx-auto d-block"> 
                    <h5 class="card-title text-center">

                       <i class="fa fa-unlock"></i>   Recuperación de contraseña <a href="{{url_sigedin}}">sigedin</a> </h5>
                    
                    
                      <div class="alert alert-warning" role="alert">
                        Este enlace ha caducado, los enlaces de recuperación de contraseña tienen una vigencia de 10min máximo.
                        </div>


                </div>
                </div>

                </div>
            </div>


    </div>

       <!-- Creado por Duvan Rosero -->
</body>

</html>